* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    margin: 0 auto;
    width: 50%;
    min-width: 800px;
    background-color: #f2f2f2;
}

.title {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

table th {
    text-align: center;
}

.gameControlsContainer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 25%;
}

.gameBoardHistoryContainer {
    display: flex;
}

.gameBoardContainer {
    width: 75%;
    min-width: 650px;
}

.board {
    border: 1px solid black;
    border-radius: 8px;
    margin: auto;
    width: 650px;
}

.board .valid {
    background-color: #8fff8f;
}

.board .boardTile {
    width: 128px;
    height: 128px;
    margin: 0;
    padding: 0;
}

.gameHistoryContainer {
    width: 25%;
}